[Desktop Entry]
Name=PairUX
Comment=Collaborative screen sharing with remote control
Exec=/opt/pairux/pairux-bin-0.8.9.AppImage --no-sandbox %U
Icon=pairux
Type=Application
Categories=Network;RemoteAccess;
StartupWMClass=PairUX
